/*Common Styles*/
body{
    line-height: 1.9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: whitesmoke;
}
/*Common Styles*/

/*header Styles*/
header{
    margin-bottom: 30px;
}
/*header Styles*/

/*main Styles*/
main{
    margin: 0 50px;
}
main section{
    padding: 20px;
}
main section ul li{
    padding-bottom: 10px;
}
main section ul li a{ 
    text-decoration: none;
    background-color: rgb(210, 219, 235);
    color: black;
}
main section h4{
    border-bottom: 3px groove black;
}
/*main Styles*/

/*footer Styles*/
footer{
    margin-top: 30px;
}
/*footer Styles*/
